body {
    min-height:100vh; /* used for magic footer behavior*/
    position:relative; /* used with magic footer behavior*/
    padding: 2%;
    width:100%;
    color: lightyellow;
    font-family: Verdana, sans-serif;
    background-color: #777777;
}

#header {
width:100%;
text-align:center;
}

.nav a {
text-decoration: none;
border: 2px solid #fff;
color:white;
background-color:darkblue;
font-size: 1.5em;
padding:1%;
}

.nav a:hover {
background-color:white;
color: darkblue;
}
ul li {list-style: none; padding-bottom:2%}

a:hover img {max-height: 75px;border: 2px solid green;
}
footer {
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    bottom: -50px;
}